@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
* {
  font-family: 'Open Sans', sans-serif !important;
}

.custom-checkbox-filled .custom-control-label, .custom-radio-filled .custom-control-label {
    background: #99F500;
    color: black;
}

.linear-scale__button {
    background: #99F500;
    border: 1px solid #99F500;
}

.btn-outline-primary:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.btn-primary {
    background-color: #99F500;
    border-color: #99F500;
    color: #000;
}

.btn-primary {
    background-color: #FFF;
    border-color: #FFF;
    color: #000;
}

.btn-primary:active, .btn-primary:hover{
    background-color: #99F500;
    border-color: #99F500;
    color: #000;
}

body > div > div:nth-child(1) {
  background: #000;
  padding: 24px;
}

body {
  background-image : url("https://syno-media-input.s3.eu-west-1.amazonaws.com/329422/550cd3238077cdf0e37f2c3426d1842d.png") !important;
}

body > div > div:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 101%;
  height: 100px;
}

#surveyLogoImage {
  height: 50px;
  width: auto;
  float: left;
}

body > div > div.row.container-sm.justify-content-md-center.ml-0.my-5 {
  padding-top: 50px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5);
}

.form-check-label.exclusive {
  background: rgba(153, 245, 0, 0.5)!important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #99F500;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(153, 245, 0,.25);
} 

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(123,245,0,0.25);
}

.custom-checkbox-filled .custom-control-input:checked~.custom-control-label, .custom-radio-filled .custom-control-input:checked~.custom-control-label {
    background: #000 !important;
    color: #FFF;
}